{% extends 'car_dealer/base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <h2>Reset Password</h2>
    <p>Enter the email associated with your account to reset your password.</p>
    <form action="/car_dealer_portal/reset_password_request/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Enter your email">
      </div>
      <button type="submit" class="btn-custom">Send Reset Link</button>
    </form>
  </div>
</div>
{% endblock %}
